# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.pkl
*.log

# VSCode
.vscode/

# Virtual env
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Model artifacts
finetuned_ws/pytorch_model.bin
finetuned_ws/optimizer.pt
finetuned_ws/scheduler.pt
finetuned_ws/training_args.bin
finetuned_ws/rng_state.pth
finetuned_ws/*.bin
finetuned_ws/*.pt
finetuned_ws/*.safetensors
finetuned_ws/*.json
finetuned_ws/*.txt
finetuned_ws/checkpoint-*/

# Data
*.csv
*.tsv
*.xlsx
*.xls
*.jsonl
*.zip
*.tar.gz

# OS
.DS_Store
Thumbs.db

# Others
*.cache
*.tmp
